header
  .container.header__container
    .main-menu
      +item-header('Для мужчин')
      +item-header('Для женщин')
      +item-header('Для детей')
      //- +item-logo('the loop')
      .main-menu__logo
        img.main-menu__img(src="./assets/img/Frame.png")
        h2.item__title_size_24= 'the loop'
      +item-text('Оплата')
      +item-text('Доставка')
    .basket.header__basket
      img.basket__img(src="./assets/img/shopping-basket-button.png")
      .basket__group-triangle
        img.basket__img-rectangle(src='./assets/img/Polygon copy.png')
        img.basket__img-polygon(src="./assets/img/Rectangle 2.png")

    .discount
      .item
        h2.discount__title_size_30= 'Зимняя распродажа'
      +item-text_upper('скидки до 90%')
      .rectangle
        h3.rectangle__title= 'смотреть модели'

    .first-screen__image
      img(src="./assets/img/running_shoes_PNG5823.png")
      .item__title_size_24.item__title_line-through_enabled= '9 900 '
        <span>&#8381;</span>
      .item__title_size_42.item__title_color_red= '1 900 '
        <span>&#8381;</span>

    .first-screen__slider-controls
      img(src="./assets/img/first-screen__slider-controls.png")