//- Mixins for header
mixin item-header(title)
  .item
    h1.item__title.item__title_ident-right_5px= title
    img.item__img(src="./assets/img/Polygon.png")

mixin item-text(title)
  .item
    h2.item__title= title

mixin item-text_upper(title)
  .item.item_indet_zero
    h2.item__title.item__title_upper.item__title_padding-bottom= title
    
//- Mixins for body
mixin item(title, descr)
  .item
    h2.item-title= title
    p.item-descr= descr

mixin catalog-image(title , descr)
  .catalog
    img.catalog__img(src="./assets/img/Rectangle-" + title + ".png")
    p.catalog-descr.catalog-descr_position= descr

mixin item-collection(title, descr)
  .item.item_display_grid
      h2.item-title= title
        <span class="item-title_weight_300"> коллекция</span>
      p.item-descr= descr
      img.item__img(src="./assets/img/rectangel-arrow.png")

mixin new-item(title, descr, number)
  .item-model(class='item-model_' + number)
    svg.item-model__svg(width='255' height='350')
      line(x1='0' y1='0' x2='25' y2='0' stroke="#D7B399" stroke-width="4")
      line(x1='0' y1='0' x2='0' y2='25' stroke="#D7B399" stroke-width="4")
      line(x1='230' y1='0' x2='255' y2='0' stroke="#D7B399" stroke-width="4")
      line(x1='255' y1='0' x2='255' y2='25' stroke="#D7B399" stroke-width="4")
      line(x1='230' y1='350' x2='255' y2='350' stroke="#D7B399" stroke-width="4")
      line(x1='255' y1='350' x2='255' y2='325' stroke="#D7B399" stroke-width="4")
      line(x1='0' y1='350' x2='25' y2='350' stroke="#D7B399" stroke-width="4")
      line(x1='0' y1='350' x2='0' y2='325' stroke="#D7B399" stroke-width="4")
    img.item-model__img(src="./assets/img/dress.png")
    h4.item-model__title= title
    p.item-model__descr= descr
      <span>&#8381;</span>

mixin new-model(title)
  section.section__new-models
    .container__new-models
      h2.new-item__title= title
      +new-item('Коктельное платье', '40 000', '1')
      +new-item('Коктельное платье', '40 000', '2')
      +new-item('Коктельное платье', '40 000', '3')
      +new-item('Коктельное платье', '40 000', '4')
      .new-item__button.button
        .button__title= 'все модели'
        img(src="./assets/img/Arrow.png")

//- Mixins for footer