// Mixins for header
mixin item-header(title, number)
  .item(class='item_' + number)
    h1.item-title.item-title_ident-right_5px= title
    img(src="./assets/img/Polygon.png")

mixin item-logo(title)
  .item.item-logo
    img(src="./assets/img/Frame.png")
    h2.item-title__size_24= title

mixin item-text(title)
  .item
    h2.item-title= title

mixin item-text_upper(title)
  .item
    h2.item-title.item-title_upper.item-title_padding-bottom= title
    
// Mixins for body
mixin item(title, descr)
  .item
    h2.item-title= title
    p.item-descr= descr